# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5432

# Grafana
GF_SECURITY_ADMIN_USER=
GF_SECURITY_ADMIN_PASSWORD=
GRAFANA_PORT=3000

# Prometheus
PROMETHEUS_PORT=9090

#  Loki
LOKI_PORT=3100
